@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@500&family=Righteous&family=Roboto+Slab:wght@700&family=Rubik+Spray+Paint&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
    background: linear-gradient(to right,#CBFDD9,#94B9FF);
}
.container_1{
    display: flex;
    width: 85%; 
    height:80%;
    margin: auto;
    background-color: #94B9FF;
    border-radius: 25px;
    justify-content: center;
}
.left-side_1{
    flex: 1;
    width:50%;
    margin-right: 1px;
    border-right: 4px solid black;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.779),
            rgba(2, 8, 33, 0.427)),
        url("../images/SLD_image.jpg") no-repeat;
    background-size: cover;
    height: auto;
    position: relative;
    border-radius: 25px;
}
.heading-left_1{
    font-size: 400%;
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
}
.description_1{
    text-align: center;
    color: white;
}
.right_side_1{
    flex:1;
    width:50%;
    margin: 5px;
    padding: 20px;
    background-color: #94B9FF;
}
.right_side_1 p{
    font-size: 400%;
    text-align: center;
    font-family: 'Righteous', cursive;
}
#create-account-form{
    padding-top:10px;
    padding-left: 15px;
}
.input-box_1{ 
    background-color: rgb(203, 253, 217);
    margin-left: 3%;
    padding:2px;
    border-radius: 50px;
    width:90%;
    height:55px;
    margin-bottom: 3%;
    margin-top: 0%;
}
.details{
    border-radius: 50px;
}
#username_box{
    margin-bottom: 4%;
}
.input-box_1 input{
    border: none;
    outline: none;
    justify-content: left;
    align-items: center;
    width: 95%;
    height:95%;
    background: transparent;
    padding-left: 20px;  
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgb(203, 253, 217) inset; /* Set the background color */
    -webkit-text-fill-color:  black !important;
  }
.input-box_1 input::placeholder{
    text-align: left;
    justify-content: left;
    align-items: center;
    padding-top: 20%;
    margin-top:10%;
    font-size:medium;
}
#username:valid{
    align-items: center;
}
#password_1:valid {
    align-items: center;
}
#password_box{
    margin-bottom: 5%;
}
.btn_1{
    background: #CBFDD9;
    color: #000000;
border: none;
border-radius: 50px;
padding: 12px 70px;
cursor: pointer;
justify-content: center;
text-align: center;
margin-left: 32%;
margin-top: 1%;
font-size: 120%;
font-family: 'Righteous', cursive;
}
.btn_1:hover{
    background: linear-gradient(to top, #000000, #94B9FF);
    color: #CBFDD9;
}
.custom-checkbox{
    display: inline-block;
    justify-content: space-between;
    margin-left: 5%;
    font-size: 18px;
}
.custom-checkbox input[type="checkbox"] {
    width: 20px;
    height: 16px;
    margin-top: 3.5%;

}
.custom-checkbox label{
    font-size: 16px;
    margin-bottom:8% ;
    font-family: 'Montserrat', sans-serif;
}
.forgot-password {
    text-align: right;
    margin-top: 0%;
    display: inline-block;
    margin-left:42%;
    margin-bottom: 5%;
}
.forgot-password a{
    color: #004AAD;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.sign-up{
   text-align: center;
   justify-content: center;
   font-size: 110%;
   margin-top: 4%;
   padding-bottom: 0%;
   font-family: 'Montserrat', sans-serif;
} 
.sign-up a{
    color: #004AAD;
}
.btn{
    cursor: pointer;
}
.footer_1{
    color:black; 
    text-align: center; 
    position: fixed;
    bottom:0;
    justify-content: center;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    left: 20%;
    bottom: 0%;
    right: 20%;
    text-align: center;
}