<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Language Detection</title>

    <!-- ********************  CSS  ******************** -->

    <link rel="stylesheet" href="../static/css/home_page.css" />

    <!-- ********************  Fonts  ******************** -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <!-- ********************  Favicon  ******************** -->

    <link rel="icon" href="../static/images/favicon.ico" />
  </head>

  <body>
    <!-- Home Page Header -->

    <div id="home_page_header">
      <div id="library_menu_icon" class="menu-library-icon">
        <button class="home_page_header_buttons">
          <i class="fa-solid fa-bars"></i>
        </button>

        <!-- /////  Hover Menu Text  /////-->
        <div id="library_menu_tooltrip">MENU</div>
      </div>

      <div id="home_page_menuSlider">
        <div id="home_page_closeMenu">
          <i class="fa-solid fa-xmark"></i>
        </div>

        <!-- /////  Menu Slider  /////-->
        <div class="home_page_slider_contents">
          <a href="#"> <i class="fa-solid fa-user"></i> USER</a>
          <a href="#"> <i class="fa-solid fa-clock-rotate-left"></i> HISTORY</a>
          <a href="#">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> LOG OUT</a
          >
        </div>
      </div>

      <h1>SIGN LANGUAGE DETECTION</h1>

      <div class="menu-library-icon">
        <a href="library.html">
          <button class="home_page_header_buttons">
            <i class="fa-solid fa-book"></i></button
        ></a>

        <!-- /////  Hover Library Text  /////-->
        <div id="library_menu_tooltrip" style="color: #94b9ff">LIBRARY</div>
      </div>
    </div>

    <!-- Home Page Body -->

    <div id="home_page_body">
      <!-- /////  Upload Section  /////-->
      <div class="home_page_body_left_side">
        <div class="body_container_head">UPLOAD YOUR MEDIA</div>

        <div class="body_container_body" id="body_container_body_left_side">
          <!-- /////  Upload Video  /////-->
          <button id="uploadVideoBtn" onclick="uploadMedia('video')">
            Upload Video
          </button>

          <!-- /////  Upload Image  /////-->
          <button id="uploadImageBtn" onclick="uploadMedia('image')">
            Upload Image
          </button>

          <div id="body_container_body_left_side_mediaBox">
            <!-- /////  Remove Media  /////-->
            <button id="upload_media_removeBtn" onclick="removeMedia()">
              Remove
            </button>
            <button id="upload_media_submitBtn">Submit</button>
            <div id="body_container_body_left_side_mediaDisplay"></div>
          </div>
        </div>
      </div>

      <!-- /////  Result Section  /////-->
      <div class="home_page_body_right_side">
        <div class="body_container_head">GET YOUR RESULT!</div>
        <div class="body_container_body">
          <p class="body_container_body_result">OUTPUT DATA</p>
        </div>
      </div>
    </div>

    <!-- Home Page Footer -->

    <div class="home_page_footer">
      <p>&copy; 2023 EXAM DECODE. All rights reserved.</p>
    </div>

    <!-- ********************  JS  ******************** -->

    <script src="../static/js/home_page.js"></script>
  </body>
</html>
