<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Language Detection</title>
    <link rel="stylesheet" href="../static/css/home_page.css" />
    <link rel="stylesheet" href="../static/css/library.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <link rel="icon" href="../static/images/favicon.ico" />
  </head>

  <body>
    <!-- Home Page Header -->

    <div id="home_page_header">
      <div id="library_menu_icon" class="menu-library-icon">
        <button class="home_page_header_buttons">
          <i class="fa-solid fa-bars"></i>
        </button>

        <!-- /////  Hover Menu Text  /////-->
        <div id="library_menu_tooltrip">MENU</div>
      </div>

      <div id="home_page_menuSlider">
        <div id="home_page_closeMenu">
          <i class="fa-solid fa-xmark"></i>
        </div>

        <!-- /////  Menu Slider  /////-->
        <div class="home_page_slider_contents">
          <a href="home_page.html"> <i class="fa-solid fa-house"></i> HOME </a>
          <a href="user.html" style="letter-spacing: 1px">
            <i class="fa-solid fa-user"></i> USER</a
          >
          <a href="library.html"> <i class="fa-solid fa-book"></i> LIBRARY</a>
          <a href="#"> <i class="fa-solid fa-clock-rotate-left"></i> HISTORY</a>
          <a href="#">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> LOG OUT</a
          >
        </div>
      </div>

      <h1>LIBRARY</h1>

      <div class="menu-library-icon">
        <a href="home_page.html">
          <button class="home_page_header_buttons">
            <i class="fa-solid fa-house"></i></button
        ></a>

        <!-- /////  Hover Home Text  /////-->
        <div id="library_menu_tooltrip" style="color: #94b9ff">HOME</div>
      </div>
    </div>

    <!-- Home Page Body -->

    <div id="home_page_body">
      <div class="body_container_head">SIGN</div>
      <div class="body_container_head">TEXT</div>

      <div class="body_container_body">
        <div id="library_imageContainer">
          <!-- Images will be dynamically added here -->
        </div>
      </div>
    </div>

    <!-- Home Page Footer -->

    <div class="home_page_footer">
      <p>&copy; 2023 EXAM DECODE. All rights reserved.</p>
    </div>

    <!-- ********************  JS  ******************** -->

    <script src="../static/js/library.js"></script>
  </body>
</html>
