<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Detection</title>
    <link rel="stylesheet" href="../static/css/sign_in.css">
    <link rel="stylesheet" href="../static/css/sign_up.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <link rel="icon" href="../static/images/favicon.ico" />
    
</head>
<body>
    <a name="page2"></a>
    <div class="container_1">
        <div class="left-side_1">
            <p class="heading-left_1"><strong>Sign Language Translator</strong></p>
            <p class="description_1">Small Description</p>
        </div>

        <div class ="right_side_2">
            <p><strong>Create Account</strong></p>
            <div class="facebook_icon">
                <a href="https://www.facebook.com/yourpage" target="_blank">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
            <div class="email_icon">
                <a href="mailto:examdecode1312@gmail.com">
                    <i class="fa-brands fa-google"></i>
                </a>
            </div>
            <form  id="create-account-form" action="/sign_up" method="POST" enctype="multipart/form-data">
                <div class="input-box_2" id="username_box2">
                    <input type="text" class="details" id="username_2" placeholder="Username" required>
                </div>
                <div class="input-box_2" id="email_box">
                    <input type="email" id="email" class="details" placeholder="Email" required>
                </div>
                <div class="input-box_2" id="password_box2">
                    <input type="password" class="details" id="password_2" placeholder="Password" id="myInput" required>
                </div>
                <div class="login_link">
                    <div>Already have an account?  <a href="sign_in.html">Login</a> </div>
                </div>
                <button type="submit" class="btn_1"><strong>SIGN UP</strong></button>
                
            </div>
        </div>
     </div>
    <div class="footer_1">
        <p> &copy; 2023 EXAM DECODE. All rights reserved.</p>
    </div>
    <script src="../static/js/sign_up.js"></script>
</body>
</html>
