<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Detection</title>
    <link rel="stylesheet" href="../static/css/sign_in.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" href="../static/images/favicon.ico" />
</head>
<body>
    <div class="container_1">
        <div class="left-side_1">
            <p class="heading-left_1"><strong>Sign Language Translator</strong></p>
            <p class="description_1">Small description</p>
        </div>
        <div class ="right_side_1">
            <p><strong>User Login</strong></p>
            <form  id="create-account-form" action="#" method="GET">

            <div class="input-box_1" id="username_box">
                <input type="text" class="details" id="username" placeholder="Username" >
            </div> 

            <div class="input-box_1" id="password_box">
                <input type="password" class="details" id="password_1" placeholder="Password" >
            </div>

            <div class="inline-block">
                <div class="custom-checkbox">
                    <input type="checkbox" id="myCheckbox" name="myCheckbox">
                    <label for="myCheckbox">Remind Me</label>
                </div>

                <div class="forgot-password"><a href="#">Forgot Password?</a></div>
             </div>
            <button type="submit" class="btn_1"><strong>SIGN IN</strong></button>

                        <div class="sign-up">
                            <div><a href="sign_up.html">Sign up</a> for new account </div>
                        </div>
            </form>
    </div>
</div>

<div class="footer_1">
    <p> &copy; 2023 EXAM DECODE. All rights reserved.</p>
</div>
<script src="../static/js/sign_in.js"></script>
</body>
</html>