<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Language Detection</title>

    <!-- ********************  CSS  ******************** -->

    <link rel="stylesheet" href="../static/css/home_page.css" />
    <link rel="stylesheet" href="../static/css/user.css" />

    <!-- ********************  Fonts  ******************** -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <!-- ********************  Favicon  ******************** -->

    <link rel="icon" href="../static/images/favicon.ico" />
  </head>

  <body>
    <!-- Home Page Header -->

    <div id="home_page_header">
      <div id="library_menu_icon" class="menu-library-icon">
        <button class="home_page_header_buttons">
          <i class="fa-solid fa-bars"></i>
        </button>

        <!-- /////  Hover Menu Text  /////-->
        <div id="library_menu_tooltrip">MENU</div>
      </div>

      <!-- /////  Menu Slider  /////-->

      <div id="home_page_menuSlider">
        <div id="home_page_closeMenu">
          <i class="fa-solid fa-xmark"></i>
        </div>

        <div class="home_page_slider_contents">
          <a href="home_page.html"> <i class="fa-solid fa-house"></i> HOME </a>
          <a href="user.html" style="letter-spacing: 1px">
            <i class="fa-solid fa-user"></i> USER</a
          >
          <a href="library.html"> <i class="fa-solid fa-book"></i> LIBRARY</a>
          <a href="#"> <i class="fa-solid fa-clock-rotate-left"></i> HISTORY</a>
          <a href="#">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> LOG OUT</a
          >
        </div>
      </div>

      <h1>USER PROFILE</h1>

      <div class="menu-library-icon">
        <a href="home_page.html">
          <button class="home_page_header_buttons">
            <i class="fa-solid fa-house"></i></button
        ></a>

        <!-- /////  Hover Home Text  /////-->
        <div id="library_menu_tooltrip" style="color: #94b9ff">HOME</div>
      </div>
    </div>

    <!-- Home Page Body -->

    <div id="home_page_body">
      <!-- /////  Upload Image  /////-->
      <form action="#" id="user_profile_form" class="user_form">
        <div id="user_image_upload">
          <div id="user_image_container">
            <img
              id="user_uploaded_image"
              src="../static/images/user.png"
              alt=""
            />

            <input
              type="file"
              id="fileInput"
              accept="image/*"
              onchange="displayMedia()"
            />

            <div style="padding: 10px">
              <label for="fileInput" id="user_choose_image_btn"
                >Choose Image</label
              >
            </div>
          </div>
        </div>

        <!-- /////  Upload User's Details  /////-->

        <div id="user_user-details">
          <input
            type="text"
            placeholder="First Name"
            id="firstName"
            class="details"
          />
          <input
            type="text"
            placeholder="Last Name"
            id="lastName"
            class="details"
          />
          <input type="email" placeholder="Email" id="email" class="details" />
          <input
            type="tel"
            placeholder="Phone Number"
            id="phoneNumber"
            maxlength="10"
            class="details"
            oninput="this.value=this.value.replace(/[^0-9]/g,'')"
          />
          <textarea
            style="resize: none"
            placeholder="Bio"
            cols="num"
            rows="num"
            id="bio"
            class="details"
          ></textarea>
          <div class="user_save_reset">
            <button class="details" id="user_submit_btn" onclick="submitForm()">
              SAVE
            </button>
            <button class="details" id="user_reset_btn" onclick="resetForm()">
              RESET
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Home Page Footer -->

    <div class="home_page_footer">
      <p>&copy; 2023 EXAM DECODE. All rights reserved.</p>
    </div>

    <!-- ********************  JS  ******************** -->

    <script src="../static/js/user.js"></script>
  </body>
</html>
